@model IEnumerable<InventoryManagementSystemDomain.Entity.AppUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All User</h1>

<p>
    <a asp-action="Create" >Create New</a>
</p>

<div>
    @{
        if (TempData["Message"] != null)
        {
            <span class="text-success">@TempData["Message"]</span>
        }
    }
</div>


<form method="get" asp-action="SearchResults">

    <p>
        <input type="search" placeholder="Enter Username" value="@ViewData["GetDetails"]" name="UserSearch" style="width:500px;" required/>
        <input type="submit" value="Search by Username" class="btn" />
    </p>

</form>

<form method="get" asp-action="SearchResultsId">

    <p>
        <input type="search" placeholder="Enter User Id" value="@ViewData["GetDetailsId"]" name="UserSearchId" style="width:500px;" required />
        <input type="submit" value="Search by Id" class="btn btn-primary" />
    </p>

</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="dark">
              @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.GenderName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
